PORTAL_DOMAIN=chat.vpsttt.com
PORTAL_BASE_PATH=/portal
PORTAL_VERSION=latest
LETSENCRYPT_EMAIL=admin@webtuichat.com
DESKTOP_DOWNLOAD_URL=https://download.webtuichat.com/desktop
MOBILE_DOWNLOAD_URL=https://download.webtuichat.com/mobile
DOCUMENTATION_URL=https://docs.webtuichat.com
