PORTAL_DOMAIN=download.vpsttt.com
PORTAL_BASE_PATH=
PORTAL_VERSION=latest
LETSENCRYPT_EMAIL=admin@vpsttt.com
DESKTOP_DOWNLOAD_URL=https://download.vpsttt.com/download/
MOBILE_DOWNLOAD_URL=https://download.vpsttt.com/download/
DOCUMENTATION_URL=https://download.vpsttt.com/#self-host
